
@using BugTracking.Models.ViewModel;

<h4>Welcome to user group page</h4>
<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class=row>
                    <div class="col-md-3">
                        <label>GroupName</label><br />
                        <input tpye="text" class=" form-control txtSUserGrpName" />
                    </div>
                    <div class="col-md-3">
                        <label>GroupCode</label><br />
                        <input tpye="text" class=" form-control txtSUserGrpCode" />
                    </div>
                    <div class="col-md-3 ">
                        <br />
                        <button type="button" class=" btn btn-success btn-md btnSearch">
                            <i class="fa fa-search"></i>
                        </button>


                        <button type="button" class=" btn btn-primary btn-md btnNew">
                            <i class="fa fa-new"></i>New
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover dtTable">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Group Name</th>
                            <th>Group Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="data-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlSetup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Setup Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Group Name</label>
                        <input type="text" class="form-control" id="txtUserGroupName">
                        <input type="hidden" class="hdnUserGroupID" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Group Code</label>
                        <input type="text" class="form-control" id="txtUserGroupCode">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnSubmit"><i class="fa fa-save"></i>Submit</button>
                <button type="button" class="btn btn-secondary btnClear"><i class="fa fa-refresh "></i>Clear</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
     $(document).ready(function (){
         loadData();

     });

        $(document).on('click', '.btnClear', function () {
            clearForm();

        });


        $(document).on('click', '.btnSubmit', function () {
            var grpName = $('#txtUserGroupName').val();
            var grpCode = $('#txtUserGroupCode').val();
            var grpID = $('.hdnUserGroupID').val();


            if (grpName == '') {
                    Swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Plz input GroupName!",

    });
            } else if (grpCode == '') {
                                  Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Plz input GroupCode!",

        });
            } else {
                $.ajax({
                    method: 'get',
                    contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("Create", "UserGroup")?groupname=' + grpName + '&groupcode='+grpCode+ '&id='+grpID,
                    success: function (res) {
                        if (res.success) {
                            toastr["success"](res.message);
                            clearForm();
                                HideModel();
                                 loadData();

                        } else {
                            toastr["error"](res.message);
                        }
                    },
                    error: function (e) { },
                    beforeSend: function () {

                        //$.blockUI();
                    },
                    complete: function () {

                        //   $.unblockUI();
                    }
                });
            }



        });

                    $(document).on('click','.btnEdit', function(){
                var id = $(this).data('key');

                        $.ajax({
                                method: 'get',
                                contentType: "application/json; charset=utf-8",
                                url: '@Url.Action("GetByID", "UserGroup")?id='+id,
                                success: function (res) {
                                    if (res.success) {
                                          var  usergroup = res.data;
                                          $('#txtUserGroupName').val(usergroup.userGroupName);
                                                $('#txtUserGroupCode').val(usergroup.userGroupCode);
                                                    $('.hdnUserGroupID').val(usergroup.userGroupID);
                                                       ShowModel();
                                    } else {
                                        toastr["error"](res.message);
                                    }
                                },
                                error: function (e) { },
                                beforeSend: function () {

                                    //$.blockUI();
                                },
                                complete: function () {

                                    //   $.unblockUI();
                                }
                            });

            });


        $(document).on('click', '.btnDelete', function () {
            var groupid = $(this).data('key');


            var ok = confirm('are you sure to delete data?');
            if (ok) {
                $.ajax({
                    method: 'get',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("Delete","UserGroup")?id=' + groupid,
                    success: function (res) {
                        if (res.success) {
                            toastr["success"](res.message);
                           loadData();
                        } else {
                            toastr["error"](res.message);
                        }
                    },
                    error: function (e) { },
                    beforeSend: function () {
                        //block ui
                        //$.blockUI();
                    },
                    complete: function () {
                        // unblock ui
                        //$.unBlockUI();
                    }
                });
            }

        });

                   $(document).on('click', '.btnSearch', function () {
                         loadData();
                   });
                         $(document).on('click', '.btnNew', function () {
                             ShowModel();
                       });

                               $(document).on('change','.txtSUserGrpName, .txtSUserGrpCode',function(){
                           loadData();
                       });

        function clearForm() {
            $('#txtUserGroupName').val('');
            $('#txtUserGroupCode').val('');
                $('.hdnUserGroupID').val('');

        }


        function loadData(){
                var grpName= $('.txtSUserGrpName').val() || '';
                      var grpCode= $('.txtSUserGrpCode').val() || '';

                $.ajax({
                    method:'get',
                    contentType:"application/json: charset=utf-8",
                     url: '@Url.Action("GetAllData", "UserGroup")?grpname='+grpName+' &grpcode='+grpCode,
                     success: function(res){
                         if(res.success){
                             var allData = res.data;
                              var htmlString = "";
                              $.each(allData,function(i,x){
                                  htmlString += "<tr>";
                                          htmlString += "<td>" +(i+1)+ "</td>";
                                      htmlString += "<td>"+  x.userGroupName + "</td>";
                                      htmlString += "<td>"+ x.userGroupCode + "</td>";
                                      htmlString +="<td>";
                                      htmlString += "<button type= 'button' class='btn btn-secondary btnEdit btn-sm' data-key='" +x.userGroupID + "'>Edit</button>";
                                              htmlString +=" <button type= 'button' class='btn btn-danger btnDelete btn-sm' data-key='" +x.userGroupID +"'>Delete</button>";
                                      htmlString +="</td>";
                                      htmlString += "</tr>";
                              });
                             if ($.fn.DataTable.isDataTable('.dtTable')) {
                                 $('.dtTable').DataTable().destroy()
                             }
                             $('.data-list').html(htmlString);

                                  $('.dtTable').DataTable({
                                              layout: {
            topStart: {
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            }
        }
                                  });
                         }else{
                             toastr['error'](res.message);

                         }
                     },
                     error:function(e){},
                     beforesend:function(){
                         //
                     },
                     complete: function(){
                         //$.unblockui();
                     }
                });
        }

        function ShowModel(){
            $('#mdlSetup').modal('show');
        }

            function HideModel(){
                $('#mdlSetup').modal('hide');
            }

    </script>

}